/* Qr code  */
.qrcontainer {
  width: max-content;
  border: 1px solid hsl(212, 45%, 89%);
  border-radius: 8px;
  text-align: center;
  padding: 10px;
}

.qrImg {
  width: 200px;
  height: 200px;
  border-radius: 8px;
}

/* Rating Question */
